IDI_APPICON ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 0,0,0,0
    PRODUCTVERSION 0,0,0,0
    FILEFLAGSMASK 0x3fL
    FILEFLAGS 0x0L
    FILEOS 0x4L
    FILETYPE 0x1L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904b0"
            BEGIN
                VALUE "CompanyName", "Bytey Wolf"
                VALUE "FileDescription", "Lightweight GIF editor"
                VALUE "FileVersion", "0.0"
                VALUE "ProductName", "GrrGif"
                VALUE "LegalCopyright", "(c) 2025 Bytey Wolf. All Rights Reserved."
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0409, 1200
        END
    END
